# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
.vscode
wikimedia-consumer-app/bin
wikimedia-consumer-app/build
wikimedia-consumer-app/.vscode
wikimedia-producer-app/bin
wikimedia-producer-app/build
wikimedia-producer-app/.vscode
